@font-face {
    font-family: "Raleway";
    font-style: normal;
    font-weight: 100;
    src: local("Raleway Thin"),local("Raleway-Thin"),url("fonts/Raleway-Thin.woff2") format("woff2")
}

@font-face {
    font-family: "Raleway";
    font-style: normal;
    font-weight: 300;
    src: local("Raleway Light"),local("Raleway-Light"),url("fonts/Raleway-Light.woff2") format("woff2")
}

@font-face {
    font-family: "Raleway";
    font-style: normal;
    font-weight: 400;
    src: local("Raleway"),local("Raleway-Regular"),url("fonts/Raleway-Regular.woff2") format("woff2")
}

@font-face {
    font-family: "Raleway";
    font-style: normal;
    font-weight: 500;
    src: local("Raleway Medium"),local("Raleway-Medium"),url("fonts/Raleway-Medium.woff2") format("woff2")
}

@font-face {
    font-family: "Raleway";
    font-style: normal;
    font-weight: 700;
    src: local("Raleway Bold"),local("Raleway-Bold"),url("fonts/Raleway-Bold.woff2") format("woff2")
}

@font-face {
    font-family: "Raleway";
    font-style: normal;
    font-weight: 900;
    src: local("Raleway Black"),local("Raleway-Black"),url("fonts/Raleway-Black.woff2") format("woff2")
}

html,body {
    -webkit-font-smoothing: antialiased;
    -moz-font-smoothing: antialiased;
    -ms-font-smoothing: antialiased;
    font-smoothing: antialiased;
    -webkit-text-size-adjust: 100%
}

body {
    font: 16px/1.6 'Raleway',Arial,Helvetica,sans-serif;
    color: #fff;
    text-align: center;
    background: #222
}

img {
    border: 0;
    max-width: 100%
}

html {
    -ms-overflow-style: scrollbar
}

.alltrans,.social-icons li a,.owl-nav>button,.owl-nav>button:after,.counter-box,.about-img:after,.gallery-img img,.form-control,.owl-dot,.subscribe-row,.close-btn,.close-btn:before,.close-btn:after,.tag-btn,.btn {
    -webkit-transition: all 0.4s ease;
    transition: all 0.4s ease
}

a {
    color: #fff;
    text-decoration: none
}

a:hover,a:focus {
    color: #fff;
    outline: none;
    text-decoration: underline
}

@media screen and (-ms-high-contrast:active),(-ms-high-contrast:none) {
    a:active {
        background-color: transparent
    }
}

p {
    margin: 0 0 20px
}

h1,h2,h3,h4,h5,h6 {
    line-height: 1.2;
    margin: 0 0 20px;
    font-weight: 600;
    text-transform: uppercase
}

h1,h2 {
    font-size: 32px
}

h3 {
    font-size: 30px;
    font-weight: 600
}

h4 {
    font-size: 22px;
    font-weight: 600
}

h5 {
    font-size: 20px;
    margin-bottom: 10px;
    font-weight: 600
}

h6 {
    font-size: 18px;
    margin-bottom: 10px;
    font-weight: 600
}

#main {
    padding: 0;
    background: #fff
}

.no-margin {
    margin: 0!important
}

figure {
    margin: 0
}

.opacity-no {
    opacity: 1!important
}

video {
    position: fixed;
    right: 0;
    bottom: 0;
    min-width: 100%;
    min-height: 100%
}

#video:after {
    content: '';
    opacity: 0.75;
    background: #4096ee;
    background: -moz-linear-gradient(top,#4096ee 0%,#39ced6 100%);
    background: -webkit-linear-gradient(top,#4096ee 0%,#39ced6 100%);
    background: linear-gradient(to bottom,#4096ee 0%,#39ced6 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#4096ee',endColorstr='#39ced6',GradientType=0 );
    position: fixed;
    left: 0;
    top: 0;
    right: 0;
    bottom: 0
}

.wrapper-background-dark:after {
    background: #222;
    opacity: 0.95
}

.section-inner {
    padding: 20px 30px 0
}

.fp-scrollable {
    height: calc(100vh - 200px)!important
}

#fp-nav ul li a span {
    display: none
}

.btn {
    background: #fff;
    color: #222;
    text-align: center;
    line-height: 52px;
    padding: 0 35px;
    border-radius: 0;
    text-transform: uppercase;
    font-weight: 600;
    border: 2px solid transparent;
    border-radius: 10px
}

.btn:hover,.btn:focus {
    color: #fff;
    border-color: #fff;
    background: none
}

.btn:focus {
    box-shadow: none;
    outline: none
}

.btn.btn-xs {
    line-height: 34px;
    font-size: 12px;
    padding: 0 20px;
    font-weight: 500
}

.btn.btn-outline {
    background: none;
    border-color: #fff;
    color: #fff;
    border-width: 1px
}

.btn.btn-outline:hover,.btn.btn-outline:focus {
    background: #fff;
    color: #222
}

.btn.btn-dark {
    color: #222;
    border-color: #222
}

.btn.btn-dark:hover,.btn.btn-dark:focus {
    background: #222;
    color: #fff
}

.owl-carousel .owl-stage {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex
}

.owl-carousel .owl-item {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    flex: 1 0 auto
}

.preloader {
    background: -moz-linear-gradient(top,#4096ee 0%,#39ced6 100%);
    background: -webkit-linear-gradient(top,#4096ee 0%,#39ced6 100%);
    background: linear-gradient(to bottom,#4096ee 0%,#39ced6 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#4096ee',endColorstr='#39ced6',GradientType=0 );
    height: 100%;
    left: 0;
    position: fixed;
    right: 0;
    top: 0;
    z-index: 9999;
    text-align: center
}

.preloader-bounce {
    left: 0;
    right: 0;
    top: 50%;
    -webkit-transform: translateY(-50%);
    transform: translateY(-50%);
    position: absolute
}

.preloader-bounce>span {
    width: 12px;
    height: 12px;
    border-radius: 50%;
    margin: 0.3em;
    display: inline-block;
    vertical-align: middle;
    -webkit-animation: bounce 0.6s infinite alternate;
    animation: bounce 0.6s infinite alternate;
    background: #fff
}

.preloader-bounce>span:nth-child(2) {
    -webkit-animation-delay: 0.2s;
    animation-delay: 0.2s;
    background: #fff
}

.preloader-bounce>span:nth-child(3) {
    -webkit-animation-delay: 0.3s;
    animation-delay: 0.3s;
    background: #fff
}

@-webkit-keyframes bounce {
    from {
        -webkit-transform: translateY(0);
        transform: translateY(0)
    }

    to {
        -webkit-transform: translateY(-1.2em);
        transform: translateY(-1.2em)
    }
}

@keyframes bounce {
    from {
        -webkit-transform: translateY(0);
        transform: translateY(0)
    }

    to {
        -webkit-transform: translateY(-1.2em);
        transform: translateY(-1.2em)
    }
}

#fullpage {
    z-index: 99
}

#header {
    padding: 20px 0;
    position: fixed;
    left: 0;
    right: 0;
    top: 0;
    z-index: 999
}

.container-fluid {
    padding: 0 20px
}

a#logo {
    text-decoration: none;
    font-size: 32px;
    text-transform: uppercase;
    font-weight: 700
}

.navbar {
    padding: 0
}

.navbar-toggle {
    display: none
}

.navbar-nav {
    -ms-flex-direction: row;
    -webkit-flex-direction: row;
    flex-direction: row
}

.navbar-nav li {
    margin-left: 30px
}

.navbar-nav li a {
    color: #fff;
    font-size: 15px;
    text-decoration: none;
    display: block;
    font-weight: 500;
    opacity: 0.9
}

.navbar-nav li a:after {
    content: '';
    display: block;
    height: 2px;
    background: #fff;
    -webkit-transition: all 0.4s ease;
    transition: all 0.4s ease;
    -webkit-transform: scale(0);
    transform: scale(0);
    margin-top: 4px
}

.navbar-nav li a:hover:after,.navbar-nav li.active a:after {
    -webkit-transform: scale(1);
    transform: scale(1)
}

.navbar-nav li a:hover {
    opacity: 1
}

.navbar-nav li.active a {
    opacity: 1
}

.collapse:not(.show) {
    display: block
}

#social-icons {
    padding: 0;
    position: fixed;
    top: 50%;
    transform: translateY(-50%);
    right: 0;
    z-index: 199
}

.social-icons {
    margin: 0;
    padding: 0;
    list-style: none
}

.social-icons li {
    display: block;
    margin: 1px 0px
}

.social-icons li a {
    width: 50px;
    height: 50px;
    display: inline-block;
    line-height: 50px;
    text-align: center;
    background: rgba(255,255,255,0.1);
    color: rgba(255,255,255,1);
    font-size: 18px
}

.social-icons li a:hover {
    color: #1e1e1e;
    background-color: #fff
}

.welcome-box {
    font-size: 20px;
    line-height: 1.7
}

.welcome-first {
    font-size: 32px;
    display: block;
    text-transform: uppercase;
    font-weight: 300;
    line-height: 1.2;
    letter-spacing: 0.02em
}

.welcome-box p {
    max-width: 620px;
    width: 100%;
    margin: 0 auto 30px;
    color: #000
}

.welcome-title {
    font-weight: 700;
    font-size: 120px;
    margin-bottom: 10px;
    letter-spacing: 0.02em
}

.welcome-title span {
    font-size: 36px;
    display: block;
    font-weight: 300;
    line-height: 1.2
}

.welcome-box .btn {
    margin-top: 10px
}

.next-section {
    display: inline-block;
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    bottom: 30px;
    cursor: pointer;
    -webkit-transition: all 0.5s ease;
    transition: all 0.5s ease
}

.next-section span {
    margin-top: 15px;
    display: block;
    text-transform: uppercase;
    font-size: 14px;
    font-weight: 500
}

.next-section i:hover {
    opacity: 1
}

.about-img {
    margin: 0 auto 40px;
    position: relative
}

.about-img img {
    border-radius: 10px;
    -webkit-box-shadow: 0 0 40px rgba(0,0,0,.3);
    box-shadow: 0 0 40px rgba(0,0,0,.3)
}

.about-contentbox {
    margin-top: 80px;
    text-align: left;
    line-height: 1.8
}

.about-contentbox span {
    font-size: 24px;
    text-transform: uppercase;
    font-weight: 300
}

.about-contentbox h2 {
    font-size: 32px;
    text-transform: uppercase;
    font-weight: 700
}

.facts-list {
    margin-top: 30px
}

.facts-list .item {
    overflow: hidden;
    text-align: center;
    border-radius: 10px;
    width: 100%;
    display: inline-block;
    text-transform: capitalize;
    font-size: 14px;
    padding: 30px 0px;
    background: rgba(0,0,0,0.25)
}

.counter-box span {
    font-size: 26px;
    font-weight: 700
}

.counter-icon {
    font-size: 30px;
    margin-bottom: 10px;
    opacity: 0.75
}

.facts-list .item:hover {
    background: #fff;
    color: #1e1e1e
}

.facts-list .owl-dots {
    margin-bottom: 30px
}

.count-number,.counted {
    display: block;
    font-size: 36px;
    font-weight: 700;
    line-height: 1;
    margin-bottom: 10px
}

.title-block {
    margin-bottom: 40px
}

.title-block span {
    font-size: 24px;
    text-transform: uppercase;
    font-weight: 300
}

.services-list .item {
    background-color: rgba(250,250,250,0.25);
    border-radius: 10px;
    -webkit-transition: all 0.5s ease;
    transition: all 0.5s ease
}

.service-icon {
    display: block;
    margin: 0 auto 0;
    font-size: 64px
}

.service-box {
    font-size: 15px;
    padding: 40px 20px;
    height: 100%
}

.services-list .item:hover {
    background-color: #fff;
    color: #1e1e1e
}

.service-box h3 {
    font-size: 22px;
    font-weight: 700;
    text-transform: capitalize;
    margin-bottom: 10px;
    padding: 10px
}

.service-box p:last-child {
    margin: 0
}

.owl-carousel .owl-dots .owl-dot {
    border-radius: 3px
}

.owl-dots {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-pack: center;
    -webkit-justify-content: center;
    justify-content: center;
    margin-top: 50px
}

.owl-carousel .owl-dots .owl-dot {
    width: 12px;
    height: 12px;
    margin: 0 5px;
    background: rgba(255,255,255,.2)
}

.owl-carousel .owl-dots .owl-dot:focus {
    outline: none
}

.owl-carousel .owl-dots .owl-dot.active {
    background: #fff
}

.gallery-section {
    text-align: center
}

.portfolio-item img {
    max-width: 100%;
    overflow: hidden;
    position: relative;
    z-index: 9;
    border-radius: 10px
}

.portfolio-item .thumb-inner {
    position: absolute;
    z-index: 99;
    bottom: 0;
    text-align: left;
    padding: 20px;
    background-color: rgba(250,250,250,0.25);
    width: 100%;
    height: 60px;
    border-top-left-radius: 0;
    border-top-right-radius: 0;
    -webkit-transition: all 0.4s ease;
    transition: all 0.4s ease
}

.portfolio-item .thumb-inner h4 {
    margin-bottom: 0;
    font-size: 16px;
    margin-top: 0
}

.portfolio-item .thumb-inner p {
    opacity: 0;
    visibility: hidden;
    position: absolute;
    margin-bottom: 0
}

.portfolio-item:hover .thumb-inner p {
    position: relative;
    opacity: 1;
    visibility: visible;
    color: #4a4a4a
}

.portfolio-item:hover .thumb-inner {
    border-radius: 10px;
    height: 100%;
    background-color: rgba(250,250,250,0.9)
}

.portfolio-item:hover .thumb-inner h4 {
    margin-top: 30%;
    color: #1e1e1e;
    margin-bottom: 20px
}

::-webkit-input-placeholder {
    color: #fff!important;
    opacity: 1
}

::-moz-placeholder {
    color: #fff!important;
    opacity: 1
}

:-ms-input-placeholder {
    color: #fff!important;
    opacity: 1
}

:-moz-placeholder {
    color: #fff!important;
    opacity: 1
}

.input-field {
    margin-bottom: 15px
}

.form-control {
    height: 50px;
    color: #fff;
    border: none;
    background: rgba(250,250,250,0.05);
    border: 1px solid rgba(250,250,250,0.5);
    border-radius: 10px;
    padding: 4px 22px;
    font-size: 14px;
    margin-bottom: 30px
}

.form-control:focus {
    box-shadow: none;
    outline: none;
    background: rgba(0,0,0,0.05);
    border: 1px solid rgba(250,250,250,1);
    color: #fff
}

.index .form-control.form-control-dark {
    background: rgba(250,250,250,0.75);
    color: #fff
}

.index .form-control.form-control-dark:focus {
    background: rgba(54,40,158,0.85);
    color: #fff
}

.index .form-control.form-control-dark::-webkit-input-placeholder {
    color: #fff!important
}

.index .form-control.form-control-dark::-moz-placeholder {
    color: #fff!important
}

.index .form-control.form-control-dark:-ms-input-placeholder {
    color: #fff!important
}

.index .form-control.form-control-dark:-moz-placeholder {
    color: #fff!important
}

.form-control.form-control-dark:focus {
    background: rgba(0,0,0,0.2)
}

.form-control.form-control-dark {
    background: rgba(0,0,0,0.1);
    color: #222;
    border: none
}

.form-control.form-control-dark::-webkit-input-placeholder {
    color: #222!important;
    opacity: 0.7
}

.form-control.form-control-dark::-moz-placeholder {
    color: #222!important;
    opacity: 0.7
}

.form-control.form-control-dark:-ms-input-placeholder {
    color: #222!important;
    opacity: 0.7
}

.form-control.form-control-dark:-moz-placeholder {
    color: #222!important;
    opacity: 0.7
}

textarea.form-control {
    height: 123px;
    padding-top: 15px
}

.contact-section .btn {
    width: 100%
}

.contact-box {
    text-align: left
}

.contact-box h4 {
    font-size: 24px
}

.contact-box h4:after {
    content: '';
    display: block;
    width: 50px;
    height: 2px;
    background: #fff;
    margin: 12px 0
}

.contact-row {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
    margin-bottom: 30px;
    background: rgba(250,250,250,0.25);
    border-radius: 10px;
    padding: 30px;
    font-weight: 700
}

.contact-row i {
    width: 55px;
    font-size: 30px;
    display: block
}

.contact-row i.fa-envelope {
    font-size: 25px
}

.testimonials-section .item {
    background-color: rgba(250,250,250,0.25);
    padding: 40px;
    border-radius: 10px
}
.testimonials-section .item img {
    width: 140px;
    height: 140px;
    margin: 0 auto
}

.testimonials-section .item h4 {
    margin-top: 40px;
    font-size: 22px;
    text-transform: capitalize;
    font-weight: 700
}

.testimonials-section .item p {
    font-size: 17px;
    font-style: italic
}

.skills-row {
    margin-top: 80px
}

.skill-item {
    border-bottom: 1px solid rgba(250,250,250,0.1);
    margin-bottom: 50px;
    padding-bottom: 50px
}

.last-skill {
    border-bottom: none
}

.skills-row span {
    display: inline-block;
    width: 50px;
    height: 50px;
    text-align: center;
    line-height: 50px;
    background-color: #fff;
    color: #1e1e1e;
    border-radius: 50%;
    font-size: 16px;
    font-weight: 700;
    left: 0;
    top: -21px;
    position: absolute;
    z-index: 999
}

.skills-row h6 {
    font-size: 16px;
    text-transform: uppercase;
    font-weight: 700;
    color: #fff;
    text-align: right;
    margin-bottom: -10px
}

.skill-bar {
    width: 70%;
    height: 6px;
    border-radius: 3px;
    background-color: rgba(250,250,250,0.25);
    position: relative
}

.filled-bar {
    position: absolute;
    z-index: 99;
    width: 64%;
    height: 6px;
    background-color: #fff;
    border-radius: 3px
}

.filled-bar-2 {
    position: absolute;
    z-index: 99;
    width: 82%;
    height: 6px;
    background-color: #fff;
    border-radius: 3px
}

@media only screen and (min-width: 768px) {
    .nav-box {
        display:block!important;
        height: auto!important
    }
}

@media only screen and (max-width: 1440px) {
    .welcome-title {
        font-size:100px;
        margin-bottom: 20px
    }

    .welcome-title:before {
        margin: 20px auto 5px
    }

    .welcome-first {
        font-size: 26px
    }

    .welcome-box p {
        margin-bottom: 20px
    }

    .navbar-nav li a {
        font-size: 15px
    }

    .subscribe-row h5 {
        font-size: 18px
    }

    .wide-col-laptop {
        -ms-flex: 0 0 85%;
        flex: 0 0 85%;
        max-width: 85%
    }

    .service-box h3 {
        font-size: 18px
    }

    h1,h2 {
        font-size: 56px;
        line-height: 1.05;
        margin-bottom: 10px
    }

    .title-block p {
        line-height: 1.6
    }

    .title-block {
        margin-bottom: 25px
    }

    .service-icon {
        width: 80px;
        height: 80px;
        line-height: 80px;
        font-size: 30px;
        margin: 0 auto
    }

    .service-box {
        padding: 30px 20px
    }

    .testimonial-content {
        font-size: 18px
    }

    .owl-carousel .owl-item .client-img img {
        max-width: 80px
    }

    .gallery-section {
        padding-top: 10px
    }

    .about-img {
        margin-right: 15px
    }
}

@media only screen and (max-width: 1199px) {
    #fp-nav.fp-right {
        right:5px
    }

    .welcome-title:before {
        margin: 20px auto 15px
    }

    .wide-col-laptop {
        -ms-flex: 0 0 100%;
        flex: 0 0 100%;
        max-width: 100%
    }

    .about-img {
        margin-right: 0
    }

    .welcome-title {
        font-size: 80px
    }

    .welcome-title:after {
        margin-top: 15px
    }

    .welcome-box {
        font-size: 18px
    }

    h1,h2 {
        font-size: 48px
    }

    .counter-box {
        font-size: 13px
    }

    .count-number,.counted {
        margin-bottom: 5px
    }

    .owl-nav {
        margin-top: 35px
    }

    .testimonial-content {
        font-size: 16px;
        padding: 20px 25px
    }

    .testimonials-section {
        padding-top: 10px
    }

    .owl-carousel .owl-dots {
        margin-top: 35px
    }

    .social-icons li a {
        width: 25px;
        height: 30px;
        display: inline-block;
        line-height: 30px;
        text-align: center;
        background: rgba(255,255,255,0.1);
        color: rgba(255,255,255,1);
        font-size: 14px
    }

    .menu-trigger {
        margin: 0
    }
}

@media only screen and (max-width: 991px) {
    .welcome-box {
        padding:150px 0px
    }

    .navbar-nav li a {
        font-size: 13px
    }

    .navbar-nav li {
        margin-left: 25px
    }

    .footer-right {
        font-size: 13px
    }

    .owl-nav>button {
        width: 40px;
        height: 40px
    }

    .owl-nav>button:after {
        width: 12px;
        height: 12px;
        left: 17px;
        top: 13px
    }

    .owl-nav>button.owl-next:after {
        left: 11px
    }

    .contact-box h4 {
        font-size: 20px
    }

    .contact-row {
        padding: 10px 15px!important;
        font-size: 13px;
        margin-bottom: 15px
    }

    .facts-row>.row>div {
        display: -webkit-box;
        display: -webkit-flex;
        display: -ms-flexbox;
        display: flex;
        width: 100%
    }

    #ajax-contact {
        margin-top: 20px
    }

    #ajax-contact input {
        margin-bottom: 20px
    }

    .contact-row i {
        font-size: 25px;
        width: 45px
    }

    .contact-row i.fa-envelope {
        font-size: 20px
    }

    .container-fluid {
        padding: 0 15px
    }

    .skills-ul {
        top: 0
    }

    .contact-row {
        padding: 42px 45px
    }
}

@media only screen and (max-width: 767px) {
    #header {
        position:fixed;
        top: 0;
        z-index: 6666;
        background-color: rgba(250,250,250,0.9)
    }

    #navigation button i {
        color: #1e1e1e
    }

    .welcome-box {
        padding: 150px 0px
    }

    #logo {
        color: #1e1e1e
    }

    .navbar-toggle {
        padding: 0;
        margin: 0;
        color: #fff;
        font-size: 28px;
        position: absolute;
        right: 0;
        top: 50%;
        background: none;
        -webkit-transform: translateY(-50%);
        transform: translateY(-50%);
        display: block;
        box-shadow: none;
        border: 0;
        outline: none;
        cursor: pointer
    }

    #header {
        padding: 0
    }

    .navbar {
        padding: 15px 0
    }

    .navbar-toggle:focus {
        outline: none
    }

    .navbar-nav {
        margin: 0
    }

    .collapse:not(.show) {
        display: none
    }

    .navigation-menu>li {
        display: block;
        margin: 0;
        font-size: 15px;
        text-align: center
    }

    .navigation-menu>li>a {
        color: #222;
        padding: 15px;
        line-height: 1.2
    }

    .navbar-nav {
        overflow-y: auto;
        display: block;
        background: rgba(230,230,230,0.25)
    }

    .navbar-nav li a:after {
        display: none
    }

    .nav-box {
        position: absolute;
        left: -15px;
        right: -15px;
        border: 0;
        box-shadow: none;
        background: #fff;
        text-align: left;
        top: 100%;
        display: none
    }

    .welcome-title {
        font-size: 60px;
        margin-bottom: 20px
    }

    .welcome-first {
        font-size: 20px
    }

    .welcome-title:before {
        margin: 20px auto 15px
    }

    .welcome-box {
        font-size: inherit
    }

    .welcome-box .btn {
        margin-top: 0
    }

    .about-img {
        margin-bottom: 10px
    }

    h1,h2 {
        font-size: 36px
    }

    body {
        font-size: 15px
    }

    .about-contentbox {
        margin-top: 60px;
        text-align: center
    }

    .testimonials-section {
        padding-top: 0
    }

    h4 {
        font-size: 18px
    }

    .contact-box {
        margin-top: 30px;
        height: auto
    }

    .footer-right {
        width: 100%;
        margin: 15px 0 0;
        text-align: left
    }

    .btn {
        font-size: 15px;
        line-height: 48px;
        padding: 0 30px
    }

    .contact-row {
        margin-top: 15px
    }

    .content-section {
        padding: 50px 0
    }

    .info-inner {
        margin-top: 20px;
        padding-bottom: 15px
    }

    .index-white .navbar-toggle {
        color: #242424
    }

    .side-menu .nav-box>ul {
        padding: 70px 40px 40px
    }

    .side-menu .navbar-nav li a {
        font-size: 20px
    }

    .social-icons {
        margin: 0 auto
    }

    .detail-page h1 {
        margin-bottom: 50px
    }

    .project-detail-col figure {
        margin-top: 35px
    }

    .project-buttons-margin {
        margin-top: 50px
    }
}

@media only screen and (max-width: 575px) {
    .welcome-title {
        font-size:40px
    }

    .welcome-first {
        font-size: 16px;
        margin-bottom: 5px
    }

    .welcome-title:before,.welcome-title:after {
        width: 100%
    }

    h1,h2 {
        font-size: 30px
    }

    .about-contentbox {
        line-height: 1.6
    }

    .owl-carousel .owl-item .client-img img {
        max-width: 65px;
        margin-right: 10px
    }

    .testimonials-section {
        font-size: 13px
    }

    .form-control {
        height: 52px;
        font-size: 14px;
        padding: 4px 15px
    }

    .skill-item {
        border-bottom: 1px solid rgba(250,250,250,0.1);
        margin-bottom: 20px;
        padding-bottom: 50px
    }

    .skills-row h6 {
        text-align: left;
        margin-bottom: 30px
    }

    .skill-bar {
        width: 100%;
        height: 6px;
        border-radius: 3px;
        background-color: rgba(250,250,250,0.25);
        position: relative
    }

    .input-field {
        margin-bottom: 15px
    }

    .subscribe-row h5 {
        font-size: 16px
    }

    .client-row {
        padding-left: 40px
    }

    .testimonial-content:before {
        left: 46%
    }

    .client-row {
        padding-left: 0
    }
}

@media only screen and (max-width: 460px) {
    h4 {
        font-size:14px
    }

    .testimonial-content:before {
        left: 45%
    }
}

@media only screen and (max-width: 320px) {
    .gallery-overlay p {
        display:none
    }

    .testimonial-content:before {
        left: 43%
    }
}
